body {
    background-color:black;
    background-position: center;
    font-family: Arial;
    color: white;
}

h1 {
    color:grey;
    font-family: verdana;
    
    
}

.maindiv {
    background-color: white;
    color: black;
    width: 460px;
    padding: 60px;
    border-radius: 25px;
    
}
