body {
    background-color:black;
    font-family: Arial;
    color: white;
}

h1 {
    color:grey;
    font-family: verdana;
    text-align: center;
}

.maindiv {
    background-color: white;
    background-position: center;
    color: black;
    width: 460px;
    padding: 120px;
    border-radius: 25px;
    
}
